<div class="py-20 bg-livid_brown-400 pt-18 dark:bg-primary-800">
  <div class="grid w-full max-w-screen-xl grid-flow-row grid-cols-3 grid-rows-6 gap-4 px-6 mx-auto sm:px-8 lg:px-16 sm:grid-rows-1 sm:grid-flow-col sm:grid-cols-12">
    <div class="flex flex-col items-start col-start-1 col-end-4 row-span-2 sm:col-span-4 sm:col-end-5 ">
      <p class="text-3xl text-rose-600 font-tanker">Rails World 2024</p>
      <p class="mb-4">
        <strong class="font-medium">Rails World</strong> is a two-day, two track community conference featuring technical talks, demos, workshops, networking, and keynotes about the latest features and best practices in Rails development.
      </p>
      <div class="flex flex-col gap-2 text-left">
        <a
          href="https://ahmednadar.com"
          target="_blank"
          rel="noopener noreferrer"
          class="group inline-flex items-center space-x-1 rounded border bg-gray-200/50 px-1.5 py-1 text-sm font-normal leading-4 text-gray-500 transition hover:border-rose-100 hover:bg-rose-100 hover:text-rose-700 active:border-gray-200 active:bg-gray-200/50 active:text-gray-700 dark:border-gray-700 dark:bg-gray-700/50 dark:hover:border-rose-900 dark:hover:bg-rose-800 dark:hover:text-rose-100 dark:active:border-gray-700 dark:active:bg-gray-700/50 dark:active:text-gray-300">
          <span>Crafted with</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="inline-block w-4 h-4 transition text-rose-500 will-change-auto group-hover:animate-ping group-active:animate-none">
            <path d="M9.653 16.915l-.005-.003-.019-.01a20.759 20.759 0 01-1.162-.682 22.045 22.045 0 01-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 018-2.828A4.5 4.5 0 0118 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 01-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 01-.69.001l-.002-.001z">
            </path>
          </svg>
          <span>by Ahmed Nadar</span>
        </a>
        <p class="mt-5 text-sm leading-6 text-center text-gray-700 dark:text-gray-400">Enjoy the rest of you <%= Time.now.strftime("%A") %>! 🎉</p>
      </div>
    </div>
    <div class="flex flex-col row-span-2 sm:col-span-2 sm:col-start-7 sm:col-end-9">
      <p class="mb-4 text-xl font-medium text-black-600 font-tanker">Rails</p>
      <ul class="text-black-500 ">
        <li class="my-2 transition-all cursor-pointer hover:text-orange-500">Framework<!-- --> </li>
        <li class="my-2 transition-all cursor-pointer hover:text-orange-500">People<!-- --> </li>
        <li class="my-2 transition-all cursor-pointer hover:text-orange-500">Blog<!-- --> </li>
      </ul>
    </div>
    <div class="flex flex-col row-span-2 sm:col-span-2 sm:col-start-9 sm:col-end-11">
      <p class="mb-4 text-xl font-medium text-black-600 font-tanker">Toronto</p>
      <ul class="text-black-500">
        <li class="my-2 transition-all cursor-pointer hover:text-orange-500">The City<!-- --> </li>
        <li class="my-2 transition-all cursor-pointer hover:text-orange-500">Guide<!-- --> </li>
        <li class="my-2 transition-all cursor-pointer hover:text-orange-500">Frinds<!-- --> </li>
      </ul>
    </div>
    <div class="flex flex-col row-span-2 sm:col-span-2 sm:col-start-11 sm:col-end-13">
      <p class="mb-4 text-xl font-medium text-black-600 font-tanker">Support</p>
      <ul class="text-black-500">
        <li class="my-2 transition-all cursor-pointer hover:text-orange-500">Github<!-- --> </li>
        <li class="my-2 transition-all cursor-pointer hover:text-orange-500">Become Partner<!-- --> </li>
      </ul>
      <div class="flex w-full mt-2 mb-8 -mx-2">
        <div class="flex items-center justify-center p-2 mx-2 bg-white rounded-full shadow-md">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4v-8.5z" fill="rgba(245,56,56,1)"></path></svg>
        </div>
        <div class="flex items-center justify-center p-2 mx-2 bg-white rounded-full shadow-md">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path d="M22.162 5.656a8.384 8.384 0 0 1-2.402.658A4.196 4.196 0 0 0 21.6 4c-.82.488-1.719.83-2.656 1.015a4.182 4.182 0 0 0-7.126 3.814 11.874 11.874 0 0 1-8.62-4.37 4.168 4.168 0 0 0-.566 2.103c0 1.45.738 2.731 1.86 3.481a4.168 4.168 0 0 1-1.894-.523v.052a4.185 4.185 0 0 0 3.355 4.101 4.21 4.21 0 0 1-1.89.072A4.185 4.185 0 0 0 7.97 16.65a8.394 8.394 0 0 1-6.191 1.732 11.83 11.83 0 0 0 6.41 1.88c7.693 0 11.9-6.373 11.9-11.9 0-.18-.005-.362-.013-.54a8.496 8.496 0 0 0 2.087-2.165z" fill="rgba(245,56,56,1)"></path></svg>
        </div>
        <div class="flex items-center justify-center p-2 mx-2 bg-white rounded-full shadow-md">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path d="M12 2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772 4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2zm0 5a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm6.5-.25a1.25 1.25 0 0 0-2.5 0 1.25 1.25 0 0 0 2.5 0zM12 9a3 3 0 1 1 0 6 3 3 0 0 1 0-6z" fill="rgba(245,56,56,1)"></path></svg>
        </div>
      </div>
    </div>
  </div>
</div>
