
		<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary-400 to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <div class="px-6 mx-auto max-w-7xl md:px-12 xl:px-6">
    <div class="relative ml-auto pt-36">
            <div class="mx-auto text-center lg:w-2/3">
                <h1 class="text-5xl md:text-6xl xl:text-8xl">Shaping a world with <span class="text-primary-600">Ruby on Rails.</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300"><strong>Rails World</strong> is a two-day, two track community conference featuring technical talks, demos, workshops, networking, and keynotes about the latest features and best practices in Rails development.</p>

                <div class="flex flex-wrap justify-center mt-16 gap-y-4 gap-x-6">
                    <a href="#" class="relative flex items-center justify-center w-full px-6 h-11 before:absolute before:inset-0 before:rounded-full before:bg-primary-600 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
                      <span class="relative text-base font-semibold text-white">Get started</span>
                    </a>
                    <a href="#" class="relative flex items-center justify-center w-full px-6 h-11 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary-700/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
                      <span class="relative text-base font-semibold text-primary-600 dark:text-white">Learn more</span>
                    </a>
                </div>

                <div class="flex flex-col items-center mx-auto mt-8">
                  <span class="text-sm font-medium text-gray-400 dark:text-gray-500">Brought to you by</span>
                  <a class="my-2" href="https://rapidrails.cc">
                    <%= image_tag 'RRUI_logo.png', class:"w-auto h-12 rounded-full dark:ring-gray-400 dark:ring-1", alt: 'RapidRailsUI buttons code examples', title: 'RapidRails UI Components Kit'%>
                  </a>
                  <span class="text-sm font-medium tracking-wide font-tanker dark:text-white">RapidRails UI</span>
                </div>

                <div class="justify-between hidden py-8 mt-16 border-gray-100 border-y dark:border-gray-800 sm:flex">
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The lowest price</h6>
                        <p class="mt-2 text-gray-500">Some text here</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The fastest on the market</h6>
                        <p class="mt-2 text-gray-500">Some text here</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The most loved</h6>
                        <p class="mt-2 text-gray-500">Some text here</p>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-3 mt-12 sm:grid-cols-4 md:grid-cols-5">
              <div class="p-4 transition duration-200 grayscale hover:grayscale-0">
                <img src="https://rubyonrails.org/assets/world/images/sponsors/RW-logo-shopify.svg" class="w-auto h-12 mx-auto" loading="lazy" alt="client logo" width="" height="">
              </div>
              <div class="p-4 transition duration-200 grayscale hover:grayscale-0">
                <img src="https://rubyonrails.org/assets/world/images/sponsors/RW-logo-github.svg" class="w-auto h-12 mx-auto" loading="lazy" alt="client logo" width="" height="">
              </div>
              <div class="flex p-4 transition duration-200 grayscale hover:grayscale-0">
                <img src="https://rubyonrails.org/assets/world/images/sponsors/RW-logo-37signals.svg" class="w-auto m-auto h-9" loading="lazy" alt="client logo" width="" height="">
              </div>
              <div class="p-4 transition duration-200 grayscale hover:grayscale-0">
                <img src="https://rubyonrails.org/assets/world/images/sponsors/RW-logo-appsignal.svg" class="w-auto h-12 mx-auto" loading="lazy" alt="client logo" width="" height="">
              </div>
              <div class="flex p-4 transition duration-200 grayscale hover:grayscale-0">
                <img src="https://rubyonrails.org/assets/world/images/sponsors/RW-logo-bigbinary.svg" class="w-auto h-8 m-auto" loading="lazy" alt="client logo" width="" height="">
              </div>
            </div>
            <div class="grid grid-cols-3 mt-4 sm:grid-cols-4 md:grid-cols-5">
              <div class="flex p-4 transition duration-200 grayscale hover:grayscale-0">
                <img src="https://rubyonrails.org/assets/world/images/sponsors/RW-logo-gorails.svg" class="w-auto h-8 m-auto" loading="lazy" alt="client logo" width="" height="">
              </div>
              <div class="p-4 transition duration-200 grayscale hover:grayscale-0">
                <img src="https://rubyonrails.org/assets/world/images/sponsors/RW-logo-buzzsprout.svg" class="w-auto h-12 mx-auto" loading="lazy" alt="client logo" width="" height="">
              </div>
              <div class="flex p-4 transition duration-200 grayscale hover:grayscale-0">
                <img src="https://rubyonrails.org/assets/world/images/sponsors/RW-logo-magmalabs.svg" class="w-auto h-8 m-auto" loading="lazy" alt="client logo" width="" height="">
              </div>
              <div class="p-4 transition duration-200 grayscale hover:grayscale-0">
                <img src="https://rubyonrails.org/assets/world/images/sponsors/RW-logo-clickfunnels.svg" class="w-auto h-12 mx-auto" loading="lazy" alt="client logo" width="" height="">
              </div>
              <div class="p-4 transition duration-200 grayscale hover:grayscale-0">
                <img src="https://rubyonrails.org/assets/world/images/sponsors/RW-logo-procore.svg" class="w-auto h-12 mx-auto" loading="lazy" alt="client logo" width="" height="">
              </div>
            </div>
        </div>
</div>
</div>
		<div id="features">
  <div class="px-6 mx-auto max-w-7xl md:px-12 xl:px-6">
    <div class="md:w-2/3 lg:w-1/2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-secondary-600">
        <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z" clip-rule="evenodd"></path>
      </svg>

      <h2 class="my-8 text-2xl md:text-6xl">
        A technology-first approach to payments
        and finance
      </h2>
      <p class="text-gray-600 dark:text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ad ipsum pariatur autem, fugit laborum in atque amet obcaecati? Nisi minima aspernatur, quidem nulla cupiditate nam consequatur eligendi magni adipisci.</p>
    </div><div class="grid mt-16 overflow-hidden text-gray-600 border border-gray-100 divide-x divide-y divide-gray-100 dark:divide-gray-700 rounded-3xl dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4">
      <div class="group relative bg-white dark:bg-rose-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-rose-600/10">
        <div class="relative p-8 py-12 space-y-8">
          <img src="https://cdn-icons-png.flaticon.com/512/4341/4341139.png" class="w-12" width="512" height="512" alt="burger illustration">

          <div class="space-y-2">
            <h5 class="text-xl font-semibold text-gray-700 transition dark:text-white group-hover:text-secondary-600">
              First feature
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-secondary-600">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-2xl transition duration-300 -translate-x-4 opacity-0 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-rose-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-rose-600/10">
        <div class="relative p-8 py-12 space-y-8">
          <img src="https://cdn-icons-png.flaticon.com/512/4341/4341134.png" class="w-12" width="512" height="512" alt="burger illustration">

          <div class="space-y-2">
            <h5 class="text-xl font-semibold text-gray-700 transition dark:text-white group-hover:text-secondary-600">
              Second feature
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-secondary-600">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-2xl transition duration-300 -translate-x-4 opacity-0 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-rose-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-rose-600/10">
        <div class="relative p-8 py-12 space-y-8">
          <img src="https://cdn-icons-png.flaticon.com/512/4341/4341160.png" class="w-12" width="512" height="512" alt="burger illustration">

          <div class="space-y-2">
            <h5 class="text-xl font-semibold text-gray-700 transition dark:text-white group-hover:text-secondary-600">
              Third feature
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-secondary-600">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-2xl transition duration-300 -translate-x-4 opacity-0 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="group relative bg-gray-50 dark:bg-rose-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-rose-600/10">
        <div class="relative p-8 py-12 space-y-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800">
          <img src="https://cdn-icons-png.flaticon.com/512/4341/4341025.png" class="w-12" width="512" height="512" alt="burger illustration">

          <div class="space-y-2">
            <h5 class="text-xl font-semibold text-gray-700 transition dark:text-white group-hover:text-secondary-600">
              More features
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-secondary-600">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-2xl transition duration-300 -translate-x-4 opacity-0 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
</div>
</div>
		<div id="solution">
    <div class="px-6 mx-auto max-w-7xl md:px-12 xl:px-6">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-sky-500">
        <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z" clip-rule="evenodd"></path>
        <path fill-rule="evenodd" d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z" clip-rule="evenodd"></path>
      </svg><div class="flex-row-reverse justify-between space-y-6 text-gray-600 md:flex md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <img src="assets/railsworld_info_toronto.jpeg" alt="image" loading="lazy" width="" height="" class="w-full">
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl md:text-6xl">
            Toronto welcomes you to Rails World 🤗
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Nobis minus voluptatibus pariatur dignissimos libero quaerat iure expedita at?
            Asperiores nemo possimus nesciunt dicta veniam aspernatur quam mollitia. <br> <br> Vitae error, quaerat officia delectus voluptatibus explicabo quo pariatur impedit, at reprehenderit aliquam a ipsum quas voluptatem. Quo pariatur asperiores eum amet.
          </p>
          <div class="space-y-4 divide-y divide-gray-100 dark:divide-gray-800">
            <div class="flex gap-4 mt-8 md:items-center">
              <div class="flex w-12 h-12 gap-4 bg-indigo-100 rounded-full dark:bg-indigo-900/20">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-auto text-indigo-500 dark:text-indigo-400">
                  <path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97zM6.75 8.25a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H7.5z" clip-rule="evenodd"></path>
                </svg>
              </div>
              <div class="w-5/6">
                <h3 class="text-lg font-semibold text-gray-700 dark:text-indigo-300">Chat Anytime</h3>
                <p class="text-gray-500 dark:text-gray-400">Asperiores nemo possimus nesciunt quam mollitia.</p>
              </div>
            </div>
            <div class="flex gap-4 pt-4 md:items-center">
              <div class="flex w-12 h-12 gap-4 bg-teal-100 rounded-full dark:bg-teal-900/20">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-auto text-teal-600 dark:text-teal-400">
                  <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path>
                </svg>
              </div>
              <div class="w-5/6">
                <h3 class="text-lg font-semibold text-gray-700 dark:text-teal-300">Real Time Location</h3>
                <p class="text-gray-500 dark:text-gray-400">Asperiores nemo possimus nesciunt quam mollitia.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
		<div class="text-gray-600 dark:text-gray-300" id="reviews">
  <div class="px-6 mx-auto max-w-7xl md:px-12 xl:px-6">
    <div class="px-6 mb-20 space-y-4 md:px-0">
      <h2 class="text-2xl font-bold text-center text-gray-800 dark:text-white md:text-4xl">
        We have some fans.
      </h2>
    </div><div class="gap-8 space-y-8 md:columns-2 lg:columns-3">
      <div class="p-8 bg-white border border-gray-100 shadow-2xl aspect-auto rounded-3xl dark:bg-gray-800 dark:border-gray-700 shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1507269453192511488/aTnmu7WY_400x400.jpg" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Daniella Doe</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Mobile dev</p>
          </div>
        </div>
        <p class="mt-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aliquid quo eum quae quos illo earum ipsa doloribus nostrum minus libero aspernatur laborum cum, a suscipit, ratione ea totam ullam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.</p>
      </div>
      <div class="p-8 bg-white border border-gray-100 shadow-2xl aspect-auto rounded-3xl dark:bg-gray-800 dark:border-gray-700 shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1676396255730081793/lcd5E7fq_400x400.jpg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Jane doe</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Marketing</p>
          </div>
        </div>
        <p class="mt-8"> Lorem ipsum dolor laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.</p>
      </div>
      <div class="p-8 bg-white border border-gray-100 shadow-2xl aspect-auto rounded-3xl dark:bg-gray-800 dark:border-gray-700 shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1720845813817974784/P5s7rJi0_400x400.jpg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Yanick Doe</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Developer</p>
          </div>
        </div>
        <p class="mt-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.</p>
      </div>
      <div class="p-8 bg-white border border-gray-100 shadow-2xl aspect-auto rounded-3xl dark:bg-gray-800 dark:border-gray-700 shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1694312319835099136/PFBtmsbf_400x400.jpg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Jane Doe</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Mobile dev</p>
          </div>
        </div>
        <p class="mt-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.</p>
      </div>
      <div class="p-8 bg-white border border-gray-100 shadow-2xl aspect-auto rounded-3xl dark:bg-gray-800 dark:border-gray-700 shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1673263361419558913/0yRpxvHV_400x400.jpg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Andy Doe</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Manager</p>
          </div>
        </div>
        <p class="mt-8"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.</p>
      </div>
      <div class="p-8 bg-white border border-gray-100 shadow-2xl aspect-auto rounded-3xl dark:bg-gray-800 dark:border-gray-700 shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1659849327664136195/wlRIZcD6_400x400.jpg" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Yanndy Doe</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Mobile dev</p>
          </div>
        </div>
        <p class="mt-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.</p>
      </div>

    </div>
</div>
</div>
		<div class="relative py-16">
  <div aria-hidden="true" class="absolute inset-0 grid w-full grid-cols-2 m-auto h-max -space-x-52 opacity-40 dark:opacity-20">
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary-600 to-purple-400 dark:from-blue-700"></div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
  </div>
  <div class="px-6 mx-auto max-w-7xl md:px-12 xl:px-6">
    <div class="relative">
      <div class="flex items-center justify-center -space-x-2">
        <img loading="lazy" width="400" height="400" src="https://pbs.twimg.com/profile_images/1673263361419558913/0yRpxvHV_400x400.jpg" alt="member photo" class="object-cover w-8 h-8 rounded-full">
        <img loading="lazy" width="200" height="200" src="https://pbs.twimg.com/profile_images/1659849327664136195/wlRIZcD6_400x400.jpg" alt="member photo" class="object-cover w-12 h-12 rounded-full">
        <img loading="lazy" width="200" height="200" src="https://pbs.twimg.com/profile_images/1627690389258788864/NSvtphxd_400x400.jpg" alt="member photo" class="z-10 object-cover w-16 h-16 rounded-full">
        <img loading="lazy" width="200" height="200" src="https://pbs.twimg.com/profile_images/1507269453192511488/aTnmu7WY_400x400.jpg" alt="member photo" class="relative object-cover w-12 h-12 rounded-full">
        <img loading="lazy" width="200" height="200" src="https://pbs.twimg.com/profile_images/1694312319835099136/PFBtmsbf_400x400.jpg" alt="member photo" class="object-cover w-8 h-8 rounded-full">
      </div>
      <div class="m-auto mt-6 space-y-6 md:w-8/12 lg:w-7/12">
        <h1 class="text-4xl font-bold text-center text-gray-800 dark:text-white md:text-5xl">Get Started now</h1>
        <p class="text-xl text-center text-gray-600 dark:text-gray-300">
          Be part of millions people around the world using tailus in modern User Interfaces.
        </p>
        <div class="flex flex-wrap justify-center gap-6">
          <a href="#" class="relative flex items-center justify-center w-full h-12 px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary-600 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
              <span class="relative text-base font-semibold text-white dark:text-dark">Get Started</span>
            </a>
            <a href="#" class="relative flex items-center justify-center w-full h-12 px-8 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary-600/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
              <span class="relative text-base font-semibold text-primary-600 dark:text-white">More about</span>
          </a>
        </div>
      </div>
    </div>
</div>
</div>
		<div id="blog">
  <div class="px-6 mx-auto max-w-7xl md:px-12 xl:px-6">
    <div class="mb-12 space-y-2 text-center">
        <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">Latest Articles</h2>
        <p class="text-gray-600 lg:mx-auto lg:w-6/12 dark:text-gray-300">
          Quam hic dolore cumque voluptate rerum beatae et quae, tempore sunt, debitis dolorum officia
          aliquid explicabo? Excepturi, voluptate?
        </p>
      </div><div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div class="p-6 bg-white bg-opacity-50 border border-gray-100 shadow-2xl group sm:p-8 rounded-3xl dark:shadow-none dark:border-gray-700 dark:bg-gray-800 shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1674&amp;q=80" alt="art cover" loading="lazy" width="1000" height="667" class="object-cover object-top w-full h-64 transition duration-500 group-hover:scale-105">
          </div>
          <div class="relative mt-6">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              De fuga fugiat lorem ispum laboriosam expedita.
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Voluptates harum aliquam totam, doloribus eum impedit atque! Temporibus...
            </p>
            <a class="inline-block" href="#">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a>
          </div>

        </div>
        <div class="p-6 bg-white bg-opacity-50 border border-gray-100 shadow-2xl group sm:p-8 rounded-3xl dark:shadow-none dark:border-gray-700 dark:bg-gray-800 shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1674&amp;q=80" alt="art cover" loading="lazy" width="1000" height="667" class="object-cover object-top w-full h-64 transition duration-500 group-hover:scale-105">
          </div>
          <div class="relative mt-6">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              De fuga fugiat lorem ispum laboriosam expedita.
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Voluptates harum aliquam totam, doloribus eum impedit atque! Temporibus...
            </p>
            <a class="inline-block" href="#">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a>
          </div>

        </div>
        <div class="p-6 bg-white bg-opacity-50 border border-gray-100 shadow-2xl group sm:p-8 rounded-3xl dark:shadow-none dark:border-gray-700 dark:bg-gray-800 shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2832&amp;q=80" alt="art cover" loading="lazy" width="1000" height="667" class="object-cover object-top w-full h-64 transition duration-500 group-hover:scale-105">
          </div>
          <div class="relative mt-6">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              De fuga fugiat lorem ispum laboriosam expedita.
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Voluptates harum aliquam totam, doloribus eum impedit atque! Temporibus...
            </p>
            <a class="inline-block" href="#">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a>
          </div>

        </div>
      </div>
</div>
</div>

