<div class="relative dark:bg-livid_brown-800 bg-livid_brown-500" id="toronto">
  <div class="relative mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pt-20">
  <div class="inline-flex items-center gap-4">
    <h1 class="max-w-screen-xl text-5xl tracking-wide text-white drop-shadow-md md:text-6xl xl:text-9xl">Toronto</h1>
    <svg xmlns="http://www.w3.org/2000/svg" width="140" height="100" viewBox="0 0 9600 4800" class="inline-block opacity-80">
      <title>Flag of Toronto</title>
      <defs>
        <clipPath id="c">
          <path d="m0 0h9600v4800H0z"/>
        </clipPath>
      </defs>
      <path fill="#274490" d="m0 0h9600v4800H0z"/>
      <g clip-path="url(#c)">
        <path fill="none" stroke="#fff" stroke-width="900" d="m-520 750c769 335 1880 618 3590 626v2464h1556v-2464c1710-8 3871-125 5494-751m-7126 975v3200h1708v-3200"/>
        <path fill="#f00" transform="matrix(0.54,0,0,0.54,3848,4000)" d="m-90 2030 45-863a95 95 0 0 0-111-98l-859 151 116-320a65 65 0 0 0-20-73l-941-762 212-99a65 65 0 0 0 34-79l-186-572 542 115a65 65 0 0 0 73-38l105-247 423 454a65 65 0 0 0 111-57l-204-1052 327 189a65 65 0 0 0 91-27l332-652 332 652a65 65 0 0 0 91 27l327-189-204 1052a65 65 0 0 0 111 57l423-454 105 247a65 65 0 0 0 73 38l542-115-186 572a65 65 0 0 0 34 79l212 99-941 762a65 65 0 0 0-20 73l116 320-859-151a95 95 0 0 0-111 98l45 863z"/>
      </g>
    </svg>
  </div>

    <p class="max-w-3xl mx-auto mt-8 mt-10 text-2xl font-medium tracking-tight text-white drop-shadow-xl"><span class="font-black tracking-tight"><a class="my-2 underline hover:no-underline text-primary-400" href="https://twitter.com/search?q=%23railsworld" target="_blank">#RailsWorld</a></span> is a two-day, two track community conference featuring technical talks, demos, workshops, networking, and keynotes about the latest features and best practices in Rails development.</p>
  </div>

  <div class="flex-none w-full overflow-x-hidden"><svg class="text-gray-50" viewBox="0 0 1428 174"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-2.000000, 44.000000)" fill="currentColor" fill-rule="nonzero"><path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path><path d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z" opacity="0.100000001"></path><path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" id="Path-4" opacity="0.200000003"></path></g><g transform="translate(-4.000000, 76.000000)" fill="currentColor" fill-rule="nonzero"><path d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"></path></g></g></svg></div>
</div>

  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-2xl md:px-24 lg:px-8 lg:py-20">
    <div class="grid gap-5 row-gap-10 lg:grid-cols-2">
      <div class="flex flex-col justify-center">
        <div class="max-w-xl mb-6">
          <h2 class="max-w-lg mb-6 text-4xl tracking-wide text-gray-900 font-tanker sm:text-5xl sm:leading-none">
            Toronto City
            <br class="hidden md:block" />
            <span class="relative px-1 text-4xl font-bold tracking-normal font-zodiak">

              <div class="absolute inset-x-0 bottom-0 h-2 transform -skew-x-12 bg-secondary-400"></div>
              <span class="relative inline-block text-primary-500">Hollywood North</span>
            </span>
          </h2>
          <p class="text-base text-gray-700 md:text-lg">
            Toronto, the capital of the province of Ontario, is a major Canadian city along Lake Ontario’s northwestern shore. It's a dynamic metropolis with a core of soaring skyscrapers, all dwarfed by the iconic, free-standing CN Tower. Toronto also has many green spaces, from the orderly oval of Queen’s Park to 400-acre High Park and its trails, sports facilities and zoo.
          </p>
        </div>
        <p class="mb-4 text-sm font-bold tracking-widest uppercase">Quick Facts</p>
        <div class="grid space-y-3 sm:gap-2 sm:grid-cols-2 sm:space-y-0">
          <ul class="space-y-3">
            <li class="flex">
              <span class="mr-1">
                <svg class="w-5 h-5 mt-px text-primary-500" stroke="currentColor" viewBox="0 0 52 52">
                  <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                </svg>
              </span>
              <a href="https://www.toronto.ca/?ref=rapidrails.cc/agency" aria-label="logo" class="flex items-center space-x-8 underline">Toronto City</a>
            </li>
            <li class="flex">
              <span class="mr-1">
                <svg class="w-5 h-5 mt-px text-primary-500" stroke="currentColor" viewBox="0 0 52 52">
                  <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                </svg>
              </span>
              Population: 2,794,356 people (2022)
            </li>
            <li class="flex">
              <span class="mr-1">
                <svg class="w-5 h-5 mt-px text-primary-500" stroke="currentColor" viewBox="0 0 52 52">
                  <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                </svg>
              </span>
              Internet speed (avg) 130 MbpsPreliminary thinking
            </li>
          </ul>
          <ul class="space-y-3">
            <li class="flex">
              <span class="mr-1">
                <svg class="w-5 h-5 mt-px text-primary-500" stroke="currentColor" viewBox="0 0 52 52">
                  <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                </svg>
              </span>
              Best coworking space
              <a href="http://makeworks.com/?ref=rapidrails.cc/agency" aria-label="logo" class="flex items-center space-x-8 underline">MakeWorks</a>

            </li>
            <li class="flex">
              <span class="mr-1">
                <svg class="w-5 h-5 mt-px text-primary-500" stroke="currentColor" viewBox="0 0 52 52">
                  <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                </svg>
              </span>
              Gender ratio (young adults) 👨 53% 👱‍♀️ 47%
            </li>
            <li class="flex">
              <span class="mr-1">
                <svg class="w-5 h-5 mt-px text-primary-500" stroke="currentColor" viewBox="0 0 52 52">
                  <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                </svg>
              </span>
              👨‍👩‍👧‍👦 GDP per capita* $42,154 / year
            </li>
          </ul>
        </div>
      </div>
      <div>
        <img class="object-cover w-full h-56 rounded shadow-lg sm:h-96" src="/assets/toronto_bg_01.jpg" alt="Toronto City" title="Toronto City" />

      </div>
    </div>
  </div>

  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-4">
      <div class="text-center">
        <div class="flex items-center justify-center w-10 h-10 mx-auto mb-3 rounded-full bg-secondary-400 sm:w-12 sm:h-12">
          <svg class="w-8 h-8 text-teal-900 sm:w-10 sm:h-10" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </div>
        <h6 class="text-4xl font-bold text-primary-500">819</h6>
        <p class="mb-2 font-bold text-md">Places to work from</p>
        <p class="text-gray-700">
          It’s something that’s many of the wisest people in history have kept in mind.
        </p>
      </div>
      <div class="text-center">
        <div class="flex items-center justify-center w-10 h-10 mx-auto mb-3 rounded-full bg-secondary-400 sm:w-12 sm:h-12">
          <svg class="w-8 h-8 text-teal-900 sm:w-10 sm:h-10" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </div>
        <h6 class="text-4xl font-bold text-primary-500">1.3K</h6>
        <p class="mb-2 font-bold text-md">Users</p>
        <p class="text-gray-700">
          For many men, the acquisition of wealth does not end their troubles, it only changes them.
        </p>
      </div>
      <div class="text-center">
        <div class="flex items-center justify-center w-10 h-10 mx-auto mb-3 rounded-full bg-secondary-400 sm:w-12 sm:h-12">
          <svg class="w-8 h-8 text-teal-900 sm:w-10 sm:h-10" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </div>
        <h6 class="text-4xl font-bold text-primary-500">91</h6>
        <p class="mb-2 font-bold text-md">Subscribers</p>
        <p class="text-gray-700">
          It's a helluva start, being able to recognize what makes you happy today, in this moment.
        </p>
      </div>
      <div class="text-center">
        <div class="flex items-center justify-center w-10 h-10 mx-auto mb-3 rounded-full bg-secondary-400 sm:w-12 sm:h-12">
          <svg class="w-8 h-8 text-teal-900 sm:w-10 sm:h-10" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </div>
        <h6 class="text-4xl font-bold text-primary-500">52</h6>
        <p class="mb-2 font-bold text-md">Products</p>
        <p class="text-gray-700">
          Happiness is when what you think, what you say, and what you do are in harmony.
        </p>
      </div>
    </div>
  </div>
